.main-div-reg{
  background-image: url('../asset/main-background.jpg');
  background-size:100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}
/* 
.form{
    margin-top: 150px;
} */

.title-register{
  padding-top: 80px ;
}

.title-login{
  padding-top: 100px;
}

.label{
    display: block;
    font-size: larger;
    padding: 5px;
  }

.select{
    display: block;
    font-size: larger;
    padding: 5px;
}
   
  .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    
  }
  .btn-register{
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
  }
   
  .messages{
    display: flex;
    justify-content: center;
  }
   
  .error{
    display: block;
    color: red;
    width: fit-content;
    height: 20px;
    padding: 5px;
  }
   
  .success{
    display: block;
    color: rgb(11, 233, 11);
    width: fit-content;
    height: 20px;
    padding: 5px;
  }

  h1{
    margin-top: 0!important;
  }